.typography {
    color:#8D757F ;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}

.link {
    color: #8D757F;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}